@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #242742;
  overflow: hidden;
}

.container {
  background-color: white;
  height: 104vh;
}

/* navbar */
.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #3c3f58;
}

.nav li:hover {
  background-color: #303453;
}


/* end of navbar */

/* HOME PAGE / HERO SECTION */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84.2vh;
  text-align: center;
  margin-top: 20px;
}

.home div h1,
p {
  color: #fff;
  padding: 10px;
}

.click {
  margin-top: 20px;
}

.click a {
  text-decoration: none;
  color: aqua;
}

.click a:hover,
.login p:last-of-type a:hover {
  text-decoration: underline;
}

/* HOME PAGE ENDS */

/* LOGIN PAGE */
.login {
  display: flex;
  flex-direction: column;
  height: 84.2vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login h2 {
  margin-bottom: 20px;
  color: #fff;
}

form.loginf {
  margin-top: 2rem;
}

form.loginf label {
  display: block;
  color: #fff;
  font-size: 15px;
}

form.loginf input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.loginBtn {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: aqua;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  transition-duration: 0.4s;
}

.loginBtn:hover {
  opacity: 0.5;
}

.login p:last-of-type a {
  text-decoration: none;
  color: aqua;
}

/* LOGIN PAGE END */

/* NEWSLETTER */

.container>div:first-of-type img {
  width: 100%;
}

.subscribe {
  margin: 0 3rem;
}

.subscribe h1 {
  color: #242742;
  font-weight: 700;
}

.subscribe p {
  font-size: 16px;
  font-weight: 400;
  color: #36384e;
}

.list {
  margin: 5px 0;
}

.list>span {
  position: absolute;
  margin-left: 15px;
  margin-top: 2px;
  font-size: 16px;
  color: #36384e;
}

form.newsletter {
  margin-top: 2rem;
}

span.error {
  color: red;
  font-size: 13px;
  font-weight: 700;
  float: right;
}

.newsletter label {
  font-size: 13px;
  font-weight: 700;
  color: #242742;
}

form.newsletter input {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 3em;
  border: 1px solid #e3e4ec;
  margin: 0.5rem 0;
  padding-left: 20px;
  border-radius: 10px;
  outline: none;
}

.error-input {
  border: 1px solid red;
  background-color: rgb(236, 197, 197);
}

.btn {
  cursor: pointer;
  width: 100%;
  height: 3em;
  margin-top: 1em;
  border: none;
  background-color: #242742;
  color: #fff;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.btn:hover {
  background-image: linear-gradient(to right, #ff3e83, #ff6257);
}

/* SUCESS PAGE */
.success {
  padding: 10rem 3rem 0 3rem;
  background-color: #fff;
}

.success h1 {
  padding-top: 2rem;
  font-size: 30pt;
  color: #242742;
}

.success p {
  padding-top: 1.4rem;
  color: #36384e;
}

.success p span {
  font-weight: 700;
}

.dismiss-btn {
  margin-top: 16rem;
}

/* TABLET MODE */
@media only screen and (min-width: 768px) {
  body {
    background-color: #242742;
  }

  .container {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    max-width: 80%;
    min-width: 90%;
    border-radius: 20px;
    padding-right: 1.5rem;
    height: 79vh;
    margin-top: 3rem;
  }

  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .success {
    background-color: #fff;
    padding: 2rem;
    max-width: 35%;
    border-radius: 20px;
  }

  .success img {
    width: 50px;
  }

  .success p {
    margin-bottom: 1rem;
  }

  .dismiss-btn {
    margin-top: 0rem;
    border-radius: 5px;
  }
}

/* DESKTOP MODE */
@media only screen and (min-width: 1000px) {
  body {
    background-color: #242742;
    overflow-y: hidden;
  }

  .home {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .home div:nth-child(2) {
    width: 30%;
  }

  .home div p {
    width: 100%;
  }

  .container {
    min-width: 60%;
    max-width: 70%;
  }

  .success {
    max-width: 25%;
  }
}